# Common IntelliJ Platform excludes

.idea/

# Rider auto-generates .iml files, and contentModel.xml
**/.idea/**/*.iml
**/.idea/**/contentModel.xml
**/.idea/**/modules.xml

*.suo
*.user
.vs/
bin/
_UpgradeReport_Files/
packages/

Thumbs.db
Desktop.ini
.DS_Store

Medicae/obj/
